.page {

    // .page_catalog

    &_catalog {}
}

.catalog {

    // .catalog__container

    &__container {}

    // .catalog__title

    &__title {
        font-weight: 700;
        margin: rem(25) 0 rem(42);
        @include adaptiveValue('font-size', 36, 24);
        @include adaptiveValue('line-height', 47, 31);

        
    }
}


.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);

    // .breadcrumbs__list
    &__list {
        display: flex;
    }

    // .breadcrumbs__item
    &__item {}

    // .breadcrumbs__link
    &__link {
        line-height: rem(19);
        font-size: rem(17);

        &:after {
            content: url('@img/svgicons/arrow-right_black.svg');
            margin: 0 em(10);
            display: inline-block;
            width: 13px;
        }
    }

    // .breadcrumbs__current
    &__current {
        font-size: rem(17);
        color: #838688;
        line-height: rem(19);
    }
}




.catalog {

    // .catalog__body

    &__body {
        display: grid;
        grid-template-columns: rem(310) 1fr;
        gap: rem(20);

        @media (max-width: $tablet) {

            grid-template-columns: repeat(1, 1fr);
        }

        @media (max-width: 620px) {
            // justify-content: center;
            // grid-template-columns: repeat(1, minmax(280px, 0.7fr));
        }
    }


}

.body-catalog {

    // .body-catalog__filter

    &__filter {
        @media (max-width: $tablet) {
            //width: 88vw-30px
            //justify-self: flex-start;
            //grid-template-columns: repeat(1, minmax(280px, 0.7fr));

        }
    }

    // .body-catalog__content

    &__content {}

    // .body-catalog__control

    &__control {
        display: flex;
        justify-content: flex-end;
    }

    // .body-catalog__products

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(270), 1fr));
        gap: rem(20);
        margin: rem(20) 0;

        @media (max-width: 620px) {
            justify-content: center;
            grid-template-columns: repeat(1, minmax(280px, 0.7fr));
        }
    }
}

.control {}


.body-catalog {

    // .body-catalog__footer

    &__footer {
        margin-bottom: rem(80);
    }

    // .body-catalog__more

    &__more {
        min-height: rem(72);
        border: 2px solid #EAEAF0;
        border-radius: 0px 0px 8px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(40);
    }

    // .body-catalog__pagging

    &__pagging {}
}

.more-catalog {

    // .more-catalog__link

    &__link {
        display: flex;
        align-items: center;
        gap: rem(10);

        &::after {
            content: url('@img/svgicons/plus.svg');
            width: rem(20);
            height: rem(20);
            display: inline-block;
        }
    }
}

.pagging {
    display: flex;
    justify-content: center;
    align-items: center;
    // .pagging__arrow

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
        height: 47px;
        border: 1px solid #EAEAF0;
        border-radius: 4px;


        &_left {
            margin-right: rem(10);

            &::after {
                content: url('@img/svgicons/arrow-right_black.svg');

                width: rem(20);
                height: rem(20);
                display: inline-block;
                transform: rotate(180deg);
            }
        }

        // .pagging__arrow_


        // .pagging__arrow_right

        &_right {
            margin-left: rem(10);

            &::after {
                content: url('@img/svgicons/arrow-right_black.svg');
                width: rem(20);
                height: rem(20);
                display: inline-block;
            }
        }
    }

    // .pagging__list

    &__list {
        display: flex;

        gap: rem(10);
    }

    // .pagging__item

    &__item {
        //padding: 14px 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #838688;
        width: 47px;
        height: 47px;
        border: 1px solid #EAEAF0;
        border-radius: 4px;

        &._active {
            background: #4878A6;
            color: #fff;
        }

        &:hover {
            background: #4878A6;
            color: #fff;
        }


        &_dot {
            border: 0;

            @media (max-width: $mobileSmall) {
                display: none;
            }
        }

        &_last {
            border: 0;

            @media (max-width: $mobileSmall) {
                display: none;
            }
        }
    }

    // .pagging__link

    &__link {}
}


.noUi-connect {
    background-color: #4878A6;
    border: none;
    //  height: 6px;
}



.noUi-connects {
    background-color: #EAEAF0;
    height: 6px;
}


.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-handle {
    background: #4878A6;
    box-shadow: none;
    border: none;
    border-radius: 100%;
}


.noUi-horizontal .noUi-handle {
    width: rem(20);
    height: rem(20);
    top: -8px;
}

.noUi-horizontal .noUi-handle-upper {
    //right: 0;
}


.price-catalog__body {
    width: calc(100% - 17px);
}

.noUi-target {
    border: none;
    box-shadow: none;
    background: none;
}

.noUi-base {
    top: rem(25);
}



.body-catalog {

    // .body-catalog__filter

    &__filter {}
}

.filter-catalog {


    &__title {
        margin: rem(30) 0 0 0;
        font-weight: 700;
        line-height: rem(21);
        background: #EDF2F6;
        border-radius: 4px;
        width: 100%;
       text-align: start;
        padding: rem(10) rem(20);
        position: relative;

        &::after {
            content: url("@img/svgicons/arrow-right_black.svg");
            transform: rotate(-90deg);
            position: absolute;
            top: rem(9);
            right: rem(20);
            transition: transform 0.5s ease 0s;
        }

        &._spoller-active::after {
            transform: rotate(90deg);

        }
    }

    // .filter-catalog__price

    &__price {}
}

.price-catalog {

    // .price-catalog__title

    &__title {
        margin-top: 0;

    }

    // .price-catalog__body

    &__body {
        margin-top: rem(20);
    }

    // .price-catalog__btn

    &__btn {
        background: #4878A6;
        border-radius: 4px;
        color: #fff;
        width: 100%;
        padding: rem(16) 0;
        @include adaptiveValue('padding-top', 16, 10);
        @include adaptiveValue('padding-bottom', 16, 10);

    }
}

.body-price {

    // .body-price__inputs

    &__inputs {
        line-height: rem(21);
        color: #838688;
        margin-bottom: rem(75);
    }

    // .body-price__label

    &__label {}

    // .body-price__text

    &__text {
        margin-right: rem(11);

        &_left {
            margin-left: rem(6);
        }
    }

    // .body-price__input

    &__input {
        line-height: rem(21);
        color: #838688;
        border: 1px solid #EAEAF0;
        border-radius: 4px;
        padding: rem(10) rem(20);

        &_left {
            @include adaptiveValue('margin-right', 20, 8);
        }
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



.filter-catalog {

    // .filter-catalog__check

    &__check {}

    // .filter-catalog__backlight

    &__backlight {}

    // .filter-catalog__title

    &__title {}
}

.check-caralog {

    // .check-caralog__body

    &__body {}
}

.body-check {
    margin-top: rem(20);
    // .body-check_small

    &_small {
        color: #838688;
        margin-left: rem(5);
    }

    // .body-check__label

    &__label {
        position: relative;
        display: block;
        padding-left: rem(24);
        margin-bottom: rem(11);

        & small {
            color: #838688
        }
    }

    // .body-check__checkbox

    &__checkbox {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

    }
}


.check-box {
    position: absolute;
    width: rem(13);
    height: rem(13);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    border-radius: rem(4);
    margin-left: -1.2em;
    margin-top: 0.1em;

}

.body-check__checkbox:checked+.check-box {
    background-color: #4878A6;
    background-image: url('@img/svgicons/check-mark.svg');
    background-repeat: no-repeat;
    background-size: rem(10) rem(8);
    background-position: 50%;
    border: #4878A6;
}

.body-check__checkbox:focus+.check-box {
    box-shadow: 0 0 0 0.1em orange;
}

.body-check__checkbox:disabled+.check-box {
    box-shadow: 0 0 0 0.1em #9b9b9b;
    ;
}

.body-check__checkbox:checked:disabled+.check-box {
    background-color: #9b9b9b;
    ;
}


.body-catalog__btn {
    display: flex;
    justify-content: center;
    gap: rem(15);
    //text-align: end;
    background: #4878A6;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    padding: rem(16) 10px;
    margin-bottom: rem(35);
    position: relative;
   // min-width: 100%;
    

  

    @media (max-width: $tablet) {
        max-width: rem(168);
        &::before {
            content: url('@img/svgicons/filter.svg');
             width: rem(10);
             height: rem(10);
             transition: transform 1.8s ease 0s;
             transform: rotate(360deg);
        }

        &._spoller-active {
            &::before {
                transform: rotate(0);
            }
        }
    }
}