@use "sass:math";
@import "fonts";
@import "base/mixins";
@import "base/swiper-bundle.min";
@import "base/nouislider.min";
@import url(https://fonts.googleapis.com/css?family=Exo:regular,500,600,700&display=swap);


$fontFamily: "Exo";
$fontSize: rem(16);
$mainColor: #070C11;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1300;
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S


@import "base/null";


body {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $mainColor;
}

body._lock {
	overflow: hidden;
}




@if ($responsiveType==1) {

	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
}

@else {

	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: rem(970);
		}

		@media (max-width: $tablet) {
			max-width: rem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

@import "header";
@import "products-block";
@import "footer";


@import "catalog.scss";


/* ============================================ */
.swiper-pagination-bullet {
	background-color: #fff;
	height: 3px;
	border-radius: 2px;
	width: rem(144);
	@include adaptiveValue('width', 144, 46);

	&.swiper-pagination-bullets-dynamic {
		bottom: 8px;
		min-width: 100%;
	}
}

/* ============================================ */
.page {

	// .page_home

	&_home {}

	// .page__slider

	&__slider {}
}

/* ============================================ */
.slider {

	// .slider__container
	&__container {}

	&-block {
		display: flex;
		justify-content: flex-end;

		// .slider-block__body

		&__body {
			flex: 0 1 72%;
			min-width: 0;
			color: #fff;

			@media (max-width: $mobile) {
				flex-basis: 100%;
			}
		}

		// .slider-block__items

		&__items {}

		// .slider-block__item

		&__item {
			background-color: #070C11;

			@include adaptiveValue('min-height', 524, 175);
		}
	}

}

/* ============================================ */
.item-slider {
	position: relative;
	display: flex;
	gap: rem(8);
	justify-content: space-between;
	@include adaptiveValue('padding-top', 40, 8);
	@include adaptiveValue('padding-buttom', 40, 16);
	@include adaptiveValue('padding-right', 96, 28);
	@include adaptiveValue('padding-left', 96, 28);

	@media (max-width: $mobile) {
		justify-content: space-around;
	}

	// .item-slider__info
	&__info {
		color: #fff;
		@include adaptiveValue('margin-top', 49, 18);
	}

	// .item-slider__media

	&__media {}

	&__waves {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;

		//@include adaptiveValue('width', 936, 491, 1300, 768, 1);
		@media (max-width: $mobileSmall) {
			display: none;
		}

	}
}

/* ============================================ */
.info-slider {

	// .info-slider__title

	&__title {
		font-weight: 700;
		margin-bottom: 6px;
		@include adaptiveValue('font-size', 48, 18, 1300, 320, 1);
		@include adaptiveValue('line-height', 62, 24, 1300, 320, 1);
	}

	// .info-slider__describe
	&__describe {
		@include adaptiveValue('font-size', 32, 16, 1300, 320, 1);
		@include adaptiveValue('line-height', 42, 21, 1300, 320, 1);
	}
}

/* ============================================ */
.media__img {
	@include adaptiveValue('width', 322, 180, 1300, 768, 1);

	@media (max-width: $mobile) {
		@include adaptiveValue('width', 192, 103, 767, 320, 1);
	}
}


.page-sale {
	margin-top: rem(40);

	// .page-sale__container

	&__container {}
}

.sale-page {

	// .sale-page__block

	&__block {}
}

.block-sale {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(20);

	@media (max-width: 930px) {
		flex-direction: column;
	}

	// .block-sale__discounts

	&__discounts {
		padding: rem(11) rem(50);
		min-height: rem(180);
		background-color: #EDF2F6;
		@include adaptiveValue('padding-right', 50, 30, 768, 320, 1);
		@include adaptiveValue('padding-left', 50, 30, 768, 320, 1);
	}

	// .block-sale__offer

	&__offer {
		padding: rem(11) rem(50);
		min-height: rem(180);
		background-color: #EDF2F6;
		@include adaptiveValue('padding-right', 50, 30, 768, 320, 1);
		@include adaptiveValue('padding-left', 50, 30, 768, 320, 1);
	}

}

.discounts-sale {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(10);
	//@include adaptiveValue('gap', 147, 48);
	flex: 1 1 50%;

	@media (max-width: 930px) {
		flex: 1 1 100%;
		width: 100%;
	}


	// .discounts-sale__text

	&__text {
		font-weight: 700;
		font-size: rem(28);
		line-height: rem(30);
		color: #070C11;
		@include adaptiveValue('font-size', 28, 16, 768, 320, 1);
		@include adaptiveValue('line-height', 30, 19, 768, 320, 1);
	}

	// .discounts-sale__img

	&__img {
		& img {
			@include adaptiveValue('max-width', 139, 98);
		}
	}
}

.offer-sale {
	flex: 0 1 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(10);

	@media (max-width: 930px) {
		flex: 0 1 100%;
		width: 100%;
	}

	//@include adaptiveValue('gap', 147, 48);
	// .offer-sale__text

	&__text {
		font-weight: 700;
		font-size: rem(28);
		line-height: rem(30);
		color: #070C11;
		@include adaptiveValue('font-size', 28, 16, 768, 320, 1);
		@include adaptiveValue('line-height', 30, 19, 768, 320, 1);
	}

	// .offer-sale__img

	&__img {
		& img {
			max-width: 100%;
			@include adaptiveValue('max-width', 139, 98);
		}
	}
}


.page-news {
	margin: rem(80) 0;
	// .page-news__container

	&__container {}

	// .page-news__header

	&__header {
		display: flex;
		align-items: baseline;
		gap: rem(30);
		@include adaptiveValue('margin-bottom', 40, 24);
	}

	// .page-news__body

	&__body {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
		
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
}

.news-page-header {

	// .news-page-header__title

	&__title {
		font-weight: 700;
		font-size: rem(36);
		color: #070C11;
		@include adaptiveValue('font-size', 36, 24);
		@include adaptiveValue('line-height', 36, 24);
	}

	// .news-page-header__more

	&__more {}
}

.more {
	font-size: rem(16);
	line-height: rem(19);
	color: #2A5275;

	&:after {
		content: url('@img/svgicons/arrow-right.svg');
		margin-left: rem(5);
		display: inline-block;
		width: 13px;
	}
}

.news-page-body {
	height: 100%;

	// .news-page-body__shop
	&__shop {}

	// .news-page-body__work

	&__work {}
}

.shop-news {
	flex: 0 1 50%;
	background-color: #EDF2F6;
	padding: rem(30) rem(50);
	color: #070C11;
	min-height: rem(230);
	
	@include adaptiveValue('padding-right', 50, 28);
	@include adaptiveValue('padding-left', 50, 28);

	// .shop-news__title
	&__title {
		font-weight: 700;
		font-size: rem(28);
		line-height: rem(34);
		margin-bottom: rem(20);
		@include adaptiveValue('font-size', 28, 18, 768, 320, 1);
		@include adaptiveValue('line-height', 34, 23, 768, 320, 1);
	}

	// .shop-news__describe

	&__describe {
		font-weight: 400;
		line-height: rem(19);
		margin-bottom: rem(20);
	}

	// .shop-news__more

	&__more {}
}

.more-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #838688;
	// .more-news__link

	&__link {}

	// .more-news__date

	&__date {}
}

.work-news {
	flex: 0 1 50%;
	background-color: #EDF2F6;
	padding: rem(30) rem(50);
	color: #070C11;
	
	min-height: rem(230);
	@include adaptiveValue('padding-right', 50, 28);
	@include adaptiveValue('padding-left', 50, 28);
	
	// .work-news__title

	&__title {
		font-weight: 700;
		font-size: rem(28);
		line-height: rem(34);
		margin-bottom: rem(20);
		@include adaptiveValue('font-size', 28, 18, 768, 320, 1);
		@include adaptiveValue('line-height', 34, 23, 768, 320, 1);
	}

	// .work-news__describe

	&__describe {
		font-weight: 400;
		line-height: rem(19);
		margin-bottom: rem(20);
	}

	// .work-news__more

	&__more {}
} 



